.container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

iframe {
    width: 301;
    height: 57;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}