.container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

h4 {
    text-align: left;
}

p {
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
